body{
	margin:0 auto;
}
#leftCol{
	height: 100vh;
	width: 250px;
	float: left;
	position: fixed;
	border-right: 0.5px solid black;
	box-shadow: 8px 0px 10px 5px rgba(113,113,113,0.8); ;
}
#leftCol h1{
	font-size: 30px;
	margin-bottom: 0px;
}
#leftCol p{
	margin-top: 0px;
}
#leftCol h1, p{
	text-align: center;
}
#leftCol .first{
	margin-top: 30px;
	width: 100%;
}
#leftCol .first ul{
	margin-bottom: 0;
	padding:0px;
	text-align: right;
	list-style: none;
	background: #323a3e;
}
#leftCol .first li:hover{
	background: #2cb8b6;
}
#leftCol .first li{
	border:1px solid #242b2e;
	padding:10px;
}
#leftCol .first a{
	font-size: 16px;
	color: white;
	text-decoration: none;
	font-weight: bold;
}
.filter{
	background: #242b2e;
}

.filter .fil{
	padding-top: 10px;
	font-size:20px;
	text-align: right;
	margin:0px 25px 10px 0px;
	color: #1ab5b3;
}
.filter ul{
	margin:0;
	text-align: right;
	list-style: none;
}
.filter li{
	margin-right: 10px;
	padding:5px;
}
.filter a{
	font-size: 16px;
	color:#909191;
	text-decoration: none;
}
.filter a:hover{
	color:white;
	transition: 0.5s;
}
.filter hr{
	border:0.5px solid #1e282b;
	margin:0;
}
.network ul{
	margin-top: 0;
	padding:0;
	justify-content: flex-end;
	display: flex;
	list-style: none;
}
.network li{
	margin:10px;
}
.icons{
	height: 100%;
	background: #242b2e;
}
.icons p{
	padding-right: 10px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	font-style: italic;
	color:#909191;
}
.end{
	display: flex;
	justify-content: flex-end;
}
#rightCol{

		padding-left: 250px;
}
#content{
	
	padding:0 40px;
}
.textContainer{
	background: url(../img/white.jpg)
}
.textContainer hr{
	margin:0;
}
.general h1{
	text-align: center;
}
.general p{
	font-size: 25px;
}
.bears{
	margin-top:70px;
}
.bears h3{
	text-align: center;
	
}
.bears img{
	width: 40%;
	float: right;
	border-radius: 30px;
}
.bears p{
	font-size: 25px;
	
}
.foxes h3{
	text-align: center;
	
}

.foxes img{
	float:left;
	width:40%;
	border-radius: 30px;
}
.foxes p{
	font-size: 25px;
}
.wolves h3{
	text-align: center;
	
}
.wolves img{
	float:right;
	width:40%;
	border-radius: 30px;
}
.wolves p{
	font-size: 25px;
}
.save h3{
	text-align: center;
}
.save p{
	font-size: 25px;
}
.save img{
	width: 40%;
	border-radius: 40px;

}
.ph{
	width: 40%;
}
.photo{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.photo img{
	width: 100%;

}

#textContainer{
	margin-top: 30px;
	display: flex;
	justify-content: center;
}
.d-input::before{
	margin-right: 20px;


}
.container{
	width: 450px;
	background: #242b2e;
}
form{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 30px;
}

.container a{
	color: white;
}
.container a:hover{
	text-decoration: none;

}
#textContainer hr{
	margin-top:20px;
}
input[type="text"], input[type="password"]{
	width: 300px;
	height: 50px;
	font-size: 18px;
	margin-bottom: 25px;
	border-radius: 5px;
	padding-left: 10px;

}
.knopka{
	padding: 13px 30px;
	font-size: 15px;
	color:white;
	background: lightblue;
	border:none;
}
.knopka:hover{
	transition: all 0.5s;
	background: blue;

}
.sulka{
	margin-top: 10px;
}
.hrlast{
	display: flex;
	justify-content: center;
}
.hrlast hr{
	text-align: center;
	width: 80%;
	margin-top: 20px;
}
#footer p{
	font-size: 25px;
	margin-bottom: 0px;
	padding-bottom: 20px;

}
@media screen and (max-width: 685px){
	#leftCol{
		display: none;
	}
	#rightCol{
		padding-left: 0px;
	}
}